h1 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

body {
  font-family: "Roboto", sans-serif;
}
h1 {
  /* margin-top: -10px; */
  font-size: 40px;
  color: rgb(1, 6, 10);
}
.unique {
  color: crimson;
}
h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(0, 4, 8);
  font-weight: 400;
  font-size: 30px;
}
.title {
  margin-bottom: -35px;
}
.border {
  border-left: 5px solid;
  border-image-slice: 1;
  color: coral;
}
p {
  color: rgb(64, 70, 73);
}
section {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
}
.box {
  width: 50%;
  padding-left: 5%;
}
.another-box img {
  width: 60%;
  margin-left: 90px;
}
.first-card {
  background-color: rgb(123, 182, 172);
}
.second-card {
  background-color: rgb(221, 209, 106);
}
.third-card {
  background-color: rgb(220, 160, 243);
}
.box img {
  width: 70%;
  margin-left: 50px;
}
.linked-button {
  text-decoration: none;
  background-color: crimson;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
}

.button {
  text-decoration: none;
  background-color: crimson;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
}
.flexible-container {
  display: flex;
  margin-bottom: 100px;
  border-radius: 50px;
}
.experience-area {
  text-align: center;
}
.experienced {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;

  border-radius: 5px;
  border-left: 5px crimson;

  padding-left: 10px;
}
#baby img {
  width: 144px;
}

#baby {
  border-image-slice: 1;
  margin: 5px;
  border-radius: 50px;
}

.goal {
  text-align: center;
}

.goalbox img {
  position: center;
}
.footer {
  text-align: center;
  color: darkmagenta;
}

.more img {
  width: 300px;
  border-radius: 15px;
  margin-bottom: 50px;
}
.footer {
  background-color: black;
  height: 10 px;
}
.footer-title {
  color: #fff;
  font-family: "Lobster", cursive;
}
.redish {
  color: crimson;
}
.more {
  display: flex;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
}
